
#box{
    width: 100px;
    Height: 20px;
    background: gray;
    Margin-bottom: 10px;}


.answers{
    font-family: algerian;
    text-align: center;
    color: purple;
}

h1{text-align: Center; color: red;
    font-family: algerian;
    color: purple;}